<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
       http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <context:component-scan base-package="com.jzg.framework.cache"/>

    <bean id="defaultCache" class="com.jzg.framework.cache.local.DefaultCacheProvider"></bean>

    <!-- 启用缓存注解功能，这个是必须的，否则注解不会生效，另外，该注解一定要声明在spring主配置文件中才会生效 -->
    <!--<cache:annotation-driven cache-manager="cacheManager" proxy-target-class="true"/>-->
    <!--<cache:annotation-driven cache-manager="guavaCacheManager" proxy-target-class="true"/>-->

    <!--<bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <set>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="default"/>
                </bean>
                <bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
                    <property name="name" value="userCache"/>
                </bean>
            </set>
        </property>
    </bean>


    <bean id="guavaCacheManager" class="org.springframework.cache.guava.GuavaCacheManager">
        <property name="cacheSpecification" value="concurrencyLevel=4,expireAfterAccess=100s,expireAfterWrite=100s"/>
        <property name="cacheNames">
            <list>
                &lt;!&ndash;<value>dictTableCache</value>&ndash;&gt;
                <value>default</value>
                <value>userCache</value>
            </list>
        </property>
    </bean>


    <bean name="localCache" class="com.jzgframework.cache.local.LocalCacheProvider">
        <property name="cacheManager" ref="cacheManager"></property>
    </bean>-->
    <!--<bean name="guavaCache" class="com.jzgframework.cache.local11.GuavaCacheProvider">
        <property name="guavaCacheManager" ref="guavaCacheManager"></property>
    </bean>-->

    <!--<bean name="userService" class="com.jzgframework.cache.test.model.UserServiceImpl"></bean>-->
</beans>